body {
    background: url("images/backgroundimg.jpeg");
    position: relative;
    background-repeat: no-repeat;
    /*background-size: 100% 100vh;*/
    background-size: cover;
    background-position: center 40%;
}

.music-body {
    background: url("images/Designer.jpeg");
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.youtube {
    background-color: #bb0000;
    color: white;
}

.apple {
    background-color: #fc3c44;
}

.spotify {
    background-color: #1DB954;
}

    .instagram:hover,
    .facebook:hover,
    .twitter:hover,
    .youtube:hover,
    .apple:hover,
    .spotify:hover {
        background: none;
        background-color: black !important;
    }

.icon-bar {
    display: inline-flex;
    border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

    .icon-bar a {
        text-align: center;
        padding: 20px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

        .icon-bar a:last-child {
            border-right: none;
        }

.enter-btn,
.merch-btn {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 3px;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
    border-color: #800080;
    background-color: rgb(231, 111, 12, 0.5);
    color: #fff;
    animation: glowing 1.5s infinite;
}

.merch-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.merch-btn:hover,
.enter-btn:hover {
    background-color: rgb(231, 111, 12);
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #800080;
    }

    50% {
        box-shadow: 0 0 20px #800080;
    }

    100% {
        box-shadow: 0 0 5px #800080;
    }
}

.icon-container {
    text-align: center;
}

.mb-4 {
    margin-bottom: 10.5rem !important;
}

@media only screen and (max-width: 767px) {
    .mb-4 {
        margin-bottom: 8.5rem !important;
    }
    .enter-btn-container {
        margin-top: 55% !important;
    }
    body {
        background-position: center;
    }
    /*.justify-content-center {
        justify-content: space-evenly;
    }*/
}
